!!! 5
html
  head
    title Hello
  
  <?php function fn(); ?>

  h1 Please Ignore me!

  p.
  	Multiline
  	Gandaras
  	Text

  h2 Was parsed?

  body
    div#naspine.mamuebal.aga It Work's!
    input(type="text",value="<?php echo 1?>")

    br
    	
    style.
      body {
      	color: red;
      }
