!!! 5
html
  head
    title Hello Jade
  body
    div#divid.first.second full div syntax
    #someid div element
    #x.someclass div with class
    style.
      body {
        color: blue;
      }

    script(type='text/javascript').
      if (true) {
         alert('Ok')
      }

    p Plain text can include <strong>html</strong>

    img(src="http://www.skimountaineer.com/ROF/Beyond/Pico/PicoAzoresSnow.jpg") Awesome image
    input(type="checkbox",checked="1") hello
    foo(data-src="bar")/ Wassup

    // uiuidf

    <!-- okay -->

    ul.lalka#ebeleh(data-src="okay")
      li.first Item A
      li Item B
      li Item C
    a(href="google.com"): img(src="http://www.skimountaineer.com/ROF/Beyond/Pico/PicoAzoresSnow.jpg")