!!! 5
html
  head
    title Hello Jade
  body
    div#divid.first.second full div syntax
    #someid div element
    .someclass div with class

    img(src="http://www.skimountaineer.com/ROF/Beyond/Pico/PicoAzoresSnow.jpg")
    input(type="text")
    foo(data-src="bar")/